.venv
.vscode
.session_logs
.session_backups
__pycache__
data
documentation
*.txt
!requirements.txt
!requirements-dev.txt
*.tex
!tests/fixtures/**/*.tex
*.zip
*.png
*.log
.pytest_cache
.coverage
htmlcov
